<nz-content class="wrapper">
  <div nz-row >
    <div nz-col [nzSpan]="12">
      <h3 class="about-header">About me</h3>
      <ul class="my-info">
        <li>
          Birthday: 14/05/2004
        </li>
        <li>
          Address: Đan Phượng, Hà Nội, Việt Nam
        </li>
        <li>
          Phone: 0393 808 302
        </li>
        <li>
          Email: i4104.vn&#64;gmail.com
        </li>
        <li>
          University: Ha Noi University Of Mining And Geology
        </li>
      </ul>
    </div>

    <div nz-col [nzSpan]="12">
      <h3 class="skill-header">Skills</h3>
      <div class="skill-list">
        <div class="skill">
          <h3 class="skill-title">Website Development</h3>
          HTML, CSS, JS, NodeJS, TypeScript, PHP
        </div>

        <div class="skill">
          <h3 class="skill-title">Database</h3>
          MySQL, MongoDB
        </div>

        <div class="skill">
          <h3 class="skill-title">Development tools</h3>
          Git, Github, VSCode, Docker
        </div>

        <div class="skill">
          <h3 class="skill-title">Other</h3>
          - Can read and understand documents
          - Can stay calm under pressure and still make good decisions
          - Self-sufficiency in work
        </div>
      </div>
    </div>
  </div>
</nz-content>
