<div class="navbar">
  <ul class="navbar_menu">
    <li class="navbar_item" [ngClass]="{ 'active': isActive('/') }">
      <a [routerLink]="['/']">
        <nz-icon nzType="fire" nzTheme="outline"></nz-icon>
      </a>
    </li>

    <li class="navbar_item" [ngClass]="{ 'active': isActive('/info') }">
      <a [routerLink]="['/info']">
        <nz-icon nzType="info-circle" nzTheme="outline"></nz-icon>
      </a>
    </li>

    <li class="navbar_item" [ngClass]="{ 'active': isActive('/projects') }">
      <a>
        <nz-icon nzType="project" nzTheme="outline"></nz-icon>
      </a>
    </li>

    <li class="navbar_item" [ngClass]="{ 'active': isActive('') }">
      <a>
        <nz-icon nzType="book" nzTheme="outline"></nz-icon>
      </a>
    </li>

    <li class="navbar_item" [ngClass]="{ 'active': isActive('') }">
      <a>
        <nz-icon nzType="github" nzTheme="outline"></nz-icon>
      </a>
    </li>
  </ul>
</div>
