<nz-content class="wrapper">
  <div nz-row class="content">
    <div nz-col [nzSpan]="14" class="info-section">
      <img class="logo-img" src="https://static.vecteezy.com/system/resources/previews/014/194/216/non_2x/avatar-icon-human-a-person-s-badge-social-media-profile-symbol-the-symbol-of-a-person-vector.jpg" />
      <div class="my-info">
        <h1 class="welcome-text">
          Welcome.
        </h1>
        <p class="introduction">
          My name is Khoa.
          I’m a passionate website developer who enjoys building clean, fast, and user-friendly web experiences.
          I focus on writing maintainable code, optimizing performance, and creating responsive designs.
          This portfolio showcases some of the projects I’ve worked on, reflecting my skills, creativity, and commitment to quality.
        </p>
      </div>
    </div>
    <div nz-col [nzSpan]="10" class="project-section">
      <h1 class="section-title">Projects</h1>
      <ul class="project-list">
        <li class="project-item">
          <a href="https://i4104.store" target="_blank">I4104.store</a>
        </li>
        <li class="project-item">
          <a href="https://i4104.store" target="_blank">I4104.store</a>
        </li>
        <li class="project-item">
          <a href="https://i4104.store" target="_blank">I4104.store</a>
        </li>
        <li class="project-item">
          <a href="https://i4104.store" target="_blank">I4104.store</a>
        </li>
      </ul>
    </div>
  </div>
</nz-content>
